{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{player_one}} Vs {{player_two}} | #{{challenge_price}}</title>
    <link rel="icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/gtt_whott.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        .text {
            text-transform: uppercase;
                font-family: verdana;
                font-size: 20px;
                font-weight: 700;
                color: #f5f5f5;
                text-shadow: 1px 1px 1px #919191,
                    1px 2px 1px #919191,
                    1px 3px 1px #919191,
                    1px 4px 1px #919191,
                    1px 5px 1px #919191,
                    1px 6px 1px #919191,
                    1px 7px 1px #919191,
                    1px 8px 1px #919191,
                    1px 9px 1px #919191,
                    1px 10px 1px #919191,
                1px 18px 6px rgba(16,16,16,0.4),
                1px 22px 10px rgba(16,16,16,0.2),
                1px 25px 35px rgba(16,16,16,0.2),
                1px 30px 60px rgba(16,16,16,0.4);
        }

        .auth{
                background-color: #2c90c6;
                border: 1px solid #2c90c6;
                border-radius: 15px;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                color: #fff;
                font-weight: bold;
                line-height: 20px;
                text-align: center;
                text-transform: uppercase;
                width: auto;
            }
            #auth:hover{
                background-color: #2c70c6;
                box-shadow: 2px 2px 20px  #2c90c6, #fff 0 -1px 2px;
            }
    </style>
</head>


<body style="background-color:#131311">


  <main class="text-center bg-dark text-white" style="text-shadow: 4px 4px 2px rgba(248,48,48,0.6);">
    {% csrf_token %}

    <div class="text-center">

        <div id="opponent_space">
            {% if opponent_gender == "Male" %}
                <img src="{% static 'image/man.png' %}" style="width:25px;height:25px;border-radius:100%">
            {% else %}
                <img src="{% static 'image/woman.png' %}" style="width:25px;height:25px;border-radius:100%">
            {% endif %}
            {% if not counted_cards %}
                {% if opp_number_of_cards > 2 %}
                    <p class="text text-center text-warning" style="font:30px italic;text-shadow: 4px 4px 2px rgba(248,48,48,0.6);">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text text-warning" id="opp_number_of_card_one">'{{opp_number_of_cards}}'</i></b></p>
                {% elif opp_number_of_cards == 1 %}
                    <p class="text text-center text-warning" style="font:30px italic;text-shadow: 4px 4px 2px rgba(248,48,48,0.6);">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text text-danger">'Last Card'</i></b></p>
                {% else %}
                    <p class="text text-center text-warning" style="font:30px italic;text-shadow: 4px 4px 2px rgba(248,48,48,0.6);">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text text-danger" id="opp_number_of_card_two">'{{opp_number_of_cards}}'</i></b></p>
                {% endif %}
            {% else %}
                <div class="table-responsive">
                    <table class="table table-dark">
                        {% if player_one == user.username %}
                            <tr>
                                {% for i in player_two_cards reversed %}
                                    <th style="border:2px solid black" class="table-head">
                                        {% if i.card_image %}
                                            <button class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for i in player_one_cards reversed %}
                                    <th style="border:2px solid black" class="table-head">
                                        {% if i.card_image %}
                                            <button class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    </table>
                </div>
                {% if opp_number_of_cards > 2 %}
                    <p class="text-center text-warning" style="font:30px italic">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text-warning">'{{opp_number_of_cards}}'</i></b></p>
                {% elif opp_number_of_cards == 1 %}
                    <p class="text-center text-warning" style="font:30px italic">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text-danger">'Last Card'</i></b></p>
                {% else %}
                    <p class="text-center text-warning" style="font:30px italic">{{opponent}} <b class="text-secondary">Remaining Cards <i class="text-danger">'{{opp_number_of_cards}}'</i></b></p>
                {% endif %}
            {% endif %}
        </div>

        <hr>

        <div id="game_space" class="bg-light p-3">
            {% if not game_finished %}
                {% if not counted_cards %}
                    {% if not player_won %}
                        {% if not has_tie %}
                            <div class="row">
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px">General Market</p>
                                        {% if to_play == user.username %}
                                            <button class="card-button general-market" style="border:0px solid white" onclick="generalMarket()"><img src="{% static 'image/gtt_whot_logo.png' %}" class="general-market" style="width:100px;height:100px;border-radius:20px;"></button>
                                        {% else %}
                                            <button class="card-button" style="border:0px solid white"><img src="{% static 'image/gtt_whot_logo.png' %}" class="general-market" style="width:100px;height:100px;border-radius:20px;"></button>
                                        {% endif %}
                                        <p class="text text-dark"  style="text-shadow:none" id="number_of_general_market">{{number_of_general_market}}</p>
                                    </div>
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px">Current</p>
                                        {% for i in current_card %}
                                            <div id="current_card_space">
                                                <img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px">
                                                <p class="text text-dark" style="font-size:15px">{{i.card_number}}..{{i.card_shape}}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text text-warning" >Stake Amount: <i class="text text-primary">#{{challenge_amount}}</i></h2>
                                        <h2 class="text text-warning" >Potential Winning:<i class="text text-success"> #{{challenge_price}}</i></h2>
<!--                                        <div id="game_timer">-->
<!--                                            <p class="text-primary">Time Left:{{time_left}}</p>-->
<!--                                        </div>-->
                                    </div>
                            </div>
                        {% else %}
                            {% if player_one == user.username %}
                                <div class="row">
                                    <div class="col-4">
                                        <p class="text-center text-danger text" style="font-size:25px">Market Finished!</p>
                                        <a class="btn btn-outline-warning auth" id="count_card" onclick="countCards()" style="text-shadow:none">click here to Count Cards!</a>
                                        <div id="count_card_spinner" style="display:none">
                                            <div class="d-flex justify-content-center">
                                                <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                    <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                    counting Cards...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px;">Current</p>
                                        {% for i in current_card %}
                                            <img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px">
                                            <p class="text text-dark" style="font-size:15px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text text-warning">Stake Amount: <i class="text text-primary">#{{challenge_amount}}</i></h2>
                                        <h2 class="text text-warning">Potential Winning:<i class="text text-success"> #{{challenge_price}}</i></h2>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-4">
                                        <p class="text-center text-danger text" style="font-size:25px;">Market Finished!</p>
                                        <a class="btn btn-outline-warning auth" id="count_card" onclick="countCards()" style="text-shadow:none">click here to Count Cards!</a>
                                        <div id="count_card_spinner" style="display:none">
                                            <div class="d-flex justify-content-center">
                                                <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                    <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                    counting Cards...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px;">Current</p>
                                        {% for i in current_card %}
                                            <img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px;">
                                            <p class="text text-dark" style="font-size:15px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text text-warning" >Stake Amount: <i class="text-warning text-primary">#{{challenge_amount}}</i></h2>
                                        <h2 class="text text-warning" >Potential Winning:<i class="text-warning text-success"> #{{challenge_price}}</i></h2>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if player_one == user.username %}
                                <div class="row">
                                    <div class="col-4">
                                        <p class="text-center text-primary text" style="font-size:25px;">Check Up!</p>
                                        <a class="btn btn-outline-warning auth" id="count_card" onclick="countCards()" style="text-shadow:none">Count Cards</a>
                                        <div id="count_card_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px">Current</p>
                                        {% for i in current_card %}
                                            <img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px">
                                            <p class="text text-dark" style="font-size:15px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text text-warning" >Stake Amount: <i class="text text-primary">#{{challenge_amount}}</i></h2>
                                        <h2 class="text text-warning" >Potential Winning:<i class="text text-success"> #{{challenge_price}}</i></h2>
                                    </div>
                                </div>
                        {% else %}
                                <div class="row">
                                    <div class="col-4">
                                        <p class="text-center text-primary text" style="font-size:25px;">Check Up!</p>
                                        <a class="btn btn-outline-warning auth" id="count_card" onclick="countCards()" style="text-shadow:none">Count Cards</a>
                                        <div id="count_card_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-4">
                                        <p class="text text-dark" style="font-size:20px">Current</p>
                                        {% for i in current_card %}
                                            <img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px">
                                            <p class="text text-dark" style="font-size:15px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text text-warning" >Stake Amount: <i class="text text-primary">#{{challenge_amount}}</i></h2>
                                        <h2 class="text text-warning" >Potential Winning:<i class="text text-success"> #{{challenge_price}}</i></h2>
                                    </div>
                                </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if player_one == user.username %}
                            <div>
                                {% if player_one_card_amount <  player_two_card_amount %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-success">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-danger">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" id="end_game" style="text-shadow:none" onclick="endGame()">End Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% elif player_one_card_amount >  player_two_card_amount %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-danger">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-success">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" style="text-shadow:none" id="end_game" onclick="endGame()">End Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% else %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-secondary">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-secondary">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" id="end_game" style="text-shadow:none" onclick="endGame()">End Tie Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                    {% else %}
                            <div>
                                {% if player_one_card_amount <  player_two_card_amount %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-success">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-danger">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" id="end_game" style="text-shadow:none" onclick="endGame()">End Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% elif player_one_card_amount >  player_two_card_amount %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-danger">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-success">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" id="end_game" style="text-shadow:none" onclick="endGame()">End Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% else %}
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_one}}' Total Cards Amount::<i class="text text-secondary">{{player_one_card_amount}}</i></h1>
                                    <h1 class="text text-center text-dark" style="font-size:20px">'{{player_two}}' Total Cards Amount::<i class="text text-secondary">{{player_two_card_amount}}</i></h1>
                                    <a class="btn btn-outline-warning auth" id="end_game" style="text-shadow:none" onclick="endGame()">End Game</a>
                                    <div id="end_game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm make-deposit" role="status" aria-hidden="true"></span>
                                                Loading...
                                            </button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
            {% endif %}
                {% endif %}
            {% else %}
                {% if game_winner != "Draw" %}
                    {% if game_winner == user.username %}
                        <h1 class="text-center text text-success my-5">You Win #{{potential_wining}}</h1><br>
                        <img src="{% static 'image/WIN_GIF.gif' %}" class="img-fluid rounded-circle my-3" style="width:150px;height:150px"><br>
                        {% csrf_token %}
                        <a class="btn btn-outline-warning auth" style="text-shadow:none" onclick="finishGame()">Finish </a>
                    {% else %}
                        <h1 class="text-center text text-danger my-5">You Loss </h1>
                        <img src="{% static 'image/LOSS_GIF.gif' %}" class="img-fluid rounded-circle my-3" style="width:150px;height:150px"><br>
                        {% csrf_token %}
                        <a class="btn btn-outline-warning auth" style="text-shadow:none" onclick="finishGame()">Finish</a>
                    {% endif %}
                {% else %}
                    <h1 class="text-center text text-secondary my-5">Tie Game</h1><br>
                    <img src="{% static 'image/BREAK_EVEN_GIF.gif' %}" class="img-fluid rounded-circle my-3" style="width:150px;height:150px"><br>
                    {% csrf_token %}
                    <a class="btn btn-outline-warning auth" style="text-shadow:none" onclick="finishGame()">Finish </a>
                {% endif %}
            {% endif %}

        </div>

        <hr>

        <div id="user_space">
            {% if number_of_general_market >= 1%}
                {% if not hold_on %}
                    {% if not required_to_pick %}
                        <div id="not_required_to_pick">
                            {% if to_play == user.username %}
                                <b class="text text-center text-secondary" style="font-size:20px">Your Turn...</b>
                            {% else %}
                                <b class="text text-center text-secondary" style="font-size:20px">waiting for {{opponent}}...</b>
                            {% endif %}
                        </div>
                    {% else %}
                        <div id="required_to_pick">
                            {% if to_play == user.username %}
                                <b class="text-center text-warning" style="font-size:20px">Your Turn,Please Pick {{no_of_cards_to_pick}}</b>
                            {% else %}
                                <b class="text-center text-warning" style="font-size:20px">waiting for {{opponent}} to pick {{no_of_cards_to_pick}}...</b>
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div id="hold_on">
                        {% if to_play == user.username %}
                            <b class="text-center text-warning" style="font-size:20px">Your Turn,Please Continue...</b>
                        {% else %}
                            <b class="text-center text-warning" style="font-size:20px">Hold On, waiting for '{{opponent}}' to Continue...</b>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% if to_play == user.username %}
                    <b class="text-center text-danger" style="font-size:20px">Please Click Any Card Or Click General Market</b>
                {% else %}
                    <b class="text-center text-danger" style="font-size:20px">waiting for {{opponent}}...</b>
                {% endif %}
            {% endif %}
            <br>
            <hr>
            <b class="text-center text-secondary" style="font-size:20px"><i class="text-warning">Your</i> Remaining Cards <i class="text-warning">'{{number_of_cards}}'</i></b>
            <br>
            {% if player_one == user.username %}
                {% if player_one_total_amount_of_cards <= 3 %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-success"> "{{player_one_total_amount_of_cards}}"</i></b>
                {% elif player_one_total_amount_of_cards <= 20 %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-secondary"> "{{player_one_total_amount_of_cards}}"</i></b>
                {% else %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-danger"> "{{player_one_total_amount_of_cards}}"</i></b>
                {% endif %}
            {% else %}
                {% if player_two_total_amount_of_cards <= 3 %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-success"> "{{player_two_total_amount_of_cards}}"</i></b>
                {% elif player_two_total_amount_of_cards <= 20 %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-secondary"> "{{player_two_total_amount_of_cards}}"</i></b>
                {% else %}
                    <b class="text-center" style="font-size:20px;text-shadow: 7px 1px 2px rgba(34,26,26,0.73);color:rgba(171, 100, 188, 0.8);">Card Amount = <i class="text-danger"> "{{player_two_total_amount_of_cards}}"</i></b>
                {% endif %}
            {% endif %}
            <br>
            <div class="table-responsive">
                <table class="table table-dark">
                    {% if player_one == user.username %}
                        {% if can_play %}
                            {% if to_play == user.username %}
                                {% if player_one == user.username %}
                                    <tr id="player_one_cards_func">
                                        {% for i in player_one_cards reversed %}
                                            <th style="border:2px solid black" class="table-head">
                                                {% if i.card_image %}
                                                    <button type="submit" class="card-button player-one-cards" title="{{i.card_number}}..{{i.card_shape}}" onclick="submitCard({{i.id}},'{{i.card_shape}}',{{i.card_number}},'player_one')"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                                {% endif %}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% else %}
                                {% if player_one == user.username %}
                                    <tr>
                                        {% for i in player_one_cards reversed %}
                                            <th id="player_one_cards" style="border:2px solid black" class="table-head">
                                                {% if i.card_image %}
                                                    <button  class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                                {% endif %}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <tr>
                                {% for i in player_one_cards reversed %}
                                    <th style="border:2px solid black" class="table-head">
                                        {% if i.card_image %}
                                            <button  class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
<!--                End Player One-->

<!--                    Player Two Cards-->
                    {% if player_two == user.username %}
                        {% if can_play %}
                            {% if to_play == user.username %}
                                {% if player_two == user.username %}
                                    <tr>
                                        {% for i in player_two_cards reversed %}
                                        <th id="player_two_cards_func" style="border:2px solid black" class="table-head">
                                            {% if i.card_image %}
                                                <button class="card-button player-two-cards" title="{{i.card_number}}..{{i.card_shape}}" onclick="submitCard({{i.id}},'{{i.card_shape}}',{{i.card_number}},'player_two')"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                            {% endif %}
                                        </th>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% else %}
                                {% if player_two == user.username %}
                                    <tr>
                                        {% for i in player_two_cards reversed %}
                                        <th id="player_two_cards" style="border:2px solid black" class="table-head">
                                            {% if i.card_image %}
                                                <button class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                            {% endif %}
                                        </th>
                                        {% endfor %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            <tr>
                                {% for i in player_two_cards reversed %}
                                    <th style="border:2px solid black" class="table-head">
                                        {% if i.card_image %}
                                            <button class="card-button" title="{{i.card_number}}..{{i.card_shape}}"><img src="{{i.card_image.url}}" style="width:100px;height:100px;border-radius:20px"></button><br><p class="text-secondary" style="font-size:10px">{{i.card_number}}..{{i.card_shape}}</p>
                                        {% endif %}
                                    </th>
                                {% endfor %}
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
            </div>
        </div>


        {% if not game_finished %}
            {% if not counted_cards %}
                {% if not player_won %}
                    {% if not has_tie %}
                        {% if is_special %}
                            <form action="/gttWhott/gttWhot/specialService" method="post" enctype="multipart/form-data" onsubmit="specialMember()">
                            {% csrf_token %}
                            <!--        Special Service For Member-->
                            <div class="row">
                <!--                General Market-->
                                <div class="col-md-4 my-1">
                                    <label>General Market</label>
                                    <select  class="form-control text-center gtt-four-man-select" name="special_general_market" id="special_general_market" required>
                                        <option value="select-option">Select Card</option>
                                        {% for i in general_market %}
                                            <option value="{{i.id}}">{{i.card_number}}...{{i.card_shape}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                {% if user.username == player_one %}
                                    <div class="col-md-4 my-1">
                                        <label>Your Cards</label>
                                        <select  class="form-control text-center gtt-four-man-select" name="special_player_card" id="special_player_one" required>
                                             <option value="select-option">Select Card</option>
                                            {% for i in player_one_cards reversed %}
                                                <option value="{{i.id}}">{{i.card_number}}...{{i.card_shape}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% elif user.username == player_two %}
                                    <div class="col-md-4 my-1">
                                        <label>Your Cards</label>
                                        <select  class="form-control text-center gtt-four-man-select" name="special_player_card" id="special_player_two" required>
                                             <option value="select-option">Select Card</option>
                                          {% for i in player_two_cards reversed %}
                                                <option value="{{i.id}}">{{i.card_number}}...{{i.card_shape}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% endif %}
                                    <div class="col-md-4 my-1" id="start_game">
                                        <input type="submit" class="btn btn-outline-warning  auth" value="exchange">
                                    </div>
                                    <div class="col-md-4 my-1" id="game_spinner" style="display:none">
                                        <div class="d-flex justify-content-center">
                                            <button class="btn text-center btn-outline-warning shuffle-cards-spinner  auth" type="button" disabled>
                                                <span class="spinner-grow spinner-grow-sm shuffle-cards-spinner " role="status" aria-hidden="true"></span>
                                                Exchanging Cards...
                                            </button>
                                        </div>
                                    </div>
                            </div>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="m-2">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <a href="" class="btn btn-outline-warning mb-3  auth">Connections Lag?<br>Refresh</a><br>
                    <a href="{{opponent_whatsapp_link}}" class="btn btn-outline-primary  auth"><i class="fa fa-whatsapp" aria-hidden="true"></i> Chat '{{opponent}}'</a>
                </div>
                <div class="col-md-4 mb-3">
                    <a class="btn btn-outline-warning  auth"  onclick="opponentDelay()">Report Game Play Delay</a>
                </div>
                <div class="col-md-4 mb-3">
                    <ol style="font-size:20px;text-decoration:underline">
                        <li class="text-danger text-center">Please Do Not Leave The Game Room.</li>
                        <li class="text-danger text-center">Make Sure You Have A Good Internet Connection For Better Performance.</li>
                        <li class="text-danger text-center">Please Do Not Delay Game Play Else Your Account Might Be Banned.</li>
                    </ol>
                </div>
            </div>
<!--            <h1 class="display-6 text-primary">Stake Amount: #{{challenge_amount}}</h1>-->
<!--            <h1 class="display-6 text-success">Potential WInning: #{{challenge_price}}</h1>-->
            <hr style="width:100%">
            <hr style="width:100%">
            <h3 class="display-6 text-danger">Power Cards</h3>
            <ul class="text-center p-2" style="list-style-type:none">
                <li class="text-warning mb-3"><i class="text-danger">Card 1</i> Hold On</li>
                <li class="text-warning mb-3"><i class="text-danger">Card 2</i> Pick 2</li>
                <li class="text-warning mb-3"><i class="text-danger">Card 14</i> General Market</li>
            </ul>
        </div>
    </div>
  </main>


  <!-- Bottom Navbar -->
  <div class="bottom-navbar bg-warning">
      <div>
          <h1 class="text text-primary">{{player_one}}</h1>
      </div>
      <div>
          <p id="gtt">VS</p>
      </div>
      <div>
          <h1 class="text text-primary">{{player_two}}</h1>
      </div>
  </div>


<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/gttwhott.js' %}"></script>
    <script>


        function specialMember(){
            var getStartGame = document.getElementById("start_game");
            getStartGame.style.display = "none";
            var getGameSpinner = document.getElementById("game_spinner");
            getGameSpinner.style.display = "inline";

        }
    </script>
</body>
</html>